@use 'mixins' as *;
@use 'fonts' as *;

.header-container {
    color: var(--base-dark-white);
    background-color: var(--header-BG);

    .title {
        @include TitleFont(18px);
        user-select: none;
        width: calc(100% - 74px);
        padding: 0.2rem;
        -webkit-app-region: drag;
    }

    .open {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        @include box(40px);

        svg {
            position: absolute;
            height: 56px;
            right: 0;
            padding: 4px;
            top: -56px;
            transition: 0ms top;

            path {
                transform: translateY(-10px);
                transition: transform 400ms ease, fill 200ms ease-in-out;
                cursor: pointer;

                &.close {
                    fill: var(--header-A-close-BG);
                    &:hover {
                        fill: var(--header-A-close-BG-hover);

                        + path.close-icon {
                            fill: var(--header-A-close-FG-hover);
                        }
                    }
                }

                &.close-icon {
                    pointer-events: none;
                    fill: var(--header-A-close-FG);
                }

                &.minimize {
                    fill: var(--header-A-minimize-BG);
                    &:hover {
                        fill: var(--header-A-minimize-BG-hover);

                        + path.minimize-icon {
                            fill: var(--header-A-minimize-FG-hover);
                        }
                    }
                }
                &.minimize-icon {
                    pointer-events: none;
                    fill: var(--header-A-minimize-FG);
                }
            }
        }

        &.active svg {
            top: 0;
            path {
                transform: translateY(0);
            }
        }
    }
}
