@mixin dark {
    // BG = background
    // FG = foreground
    color-scheme: dark;

    --primary-color: #040404;
    --accent-color: #f2f2f2;
    --other-color: #272727;

    --base-red: #c30a0a;
    --base-green: #00d076;
    --base-blue: #0260e8;
    --base-yellow: #ffc11e;
    --base-pink: #fc008b;
    --base-dark-white: #d0d0d0;

    // header colors
    // A == action

    --header-BG: #101010;

    --header-A-BG: #222;

    --header-A-close-BG: var(--header-A-BG);
    --header-A-close-FG: var(--accent-color);
    --header-A-close-BG-hover: var(--base-red);
    --header-A-close-FG-hover: var(--header-A-close-FG);

    --header-A-minimize-BG: var(--header-A-BG);
    --header-A-minimize-FG: var(--accent-color);
    --header-A-minimize-BG-hover: #333;
    --header-A-minimize-FG-hover: var(--header-A-minimize-FG);
}
