@use 'mixins' as *;
@use 'fonts' as *;

@use 'sass:math';

.categories-container .categories .category-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    // padding-left: 0.7em;
    color: var(--accent-color);

    .category {
        display: flex;
        align-items: center;
        gap: 0.5em;
        // cursor: pointer;
        position: relative;
        padding-bottom: 0.2em;
        overflow: hidden;

        .select {
            flex-shrink: 0;
            @include f-center;
            @include box(24px);
            width: 0px;
            transition: width 70ms linear;
            --overlay: var(--other-color);
        }

        .bborder,
        .edit-border {
            position: absolute;
            height: 1px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }

        .bborder {
            background-color: var(--other-color);
            transition: left 300ms ease;

            div {
                width: 50%;
                height: 100%;
                background-color: var(--base-dark-white);
                transform: translateX(-110%);
                transition: transform 400ms ease;

                &:last-child {
                    transform: translateX(110%);
                }
            }

            &.active div {
                transform: translateX(0);
            }
        }

        .edit-border {
            div {
                transition: transform 400ms cubic-bezier(0.7, 0, 0.4, 1);
                width: 100%;
                background-color: var(--base-pink);
            }
        }

        .title-wrapper {
            width: 100%;
            @include TextFont(20px);
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            user-select: none;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5em;
            padding: 0.25em 0;

            .title-input {
                @include box(100%, max-content);
                background-color: transparent;
                font: inherit;
                border: 0;
                outline: 0;

                &:focus {
                    outline: 0;
                    border: 0;
                }
            }

            .static-title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                cursor: pointer;
            }
        }

        .checked {
            @include box(33px);
            flex-shrink: 0;
            * {
                cursor: default;
            }
        }

        &.show-select .select {
            width: 24px;
        }
    }

    .empty-sign {
        @include f-center;
        @include TextFont(16px);
        user-select: none;
        color: var(--base-dark-white);
    }

    .todos-wrapper {
        padding-inline: 1.1em math.div(33px - 28px, 2);
    }
}

.categories-container .categories .null-category {
    padding-top: 1em;

    .todos-wrapper {
        padding-left: 0;
    }
}
