@use 'mixins' as *;
@use 'fonts' as *;

.categories-container .categories .category,
.categories-container .categories .null-category {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 0.5em;
    padding-left: 0.7em;

    color: var(--accent-color);

    .name-wrapper {
        width: 100%;
        @include TextFont(20px);
        text-transform: capitalize;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        user-select: none;
        // justify-content: center;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;

        border-bottom: 1px solid var(--other-color);
        padding-bottom: 0.2em;

        &.editing {
            border-color: transparent;
        }

        .hexaput-container {
            width: 100%;
        }

        .static-name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 0.25em 0;
            cursor: pointer;
        }

        .hexacheck {
            @include box(30px);
            flex-shrink: 0;
            .main {
                cursor: default;
            }
        }
    }

    .todos-wrapper {
        padding-left: 1.2em;
        user-select: none;
        ul {
            list-style: none;
            @include TextFont;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            li {
                $border_height: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                padding-bottom: $border_height * 3;

                display: flex;
                overflow: hidden;
                justify-content: space-between;
                align-items: center;
                gap: 0.5em;

                span {
                    cursor: pointer;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .hexacheck {
                    @include box(30px);
                    flex-shrink: 0;
                }

                .toder-container {
                    pointer-events: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: $border_height;

                    .toder {
                        position: absolute;
                        inset: 0;
                        left: auto;
                        width: 0%;
                        transition: width 400ms;
                        background-color: currentColor;
                    }
                }

                &:hover .toder-container .toder {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

.categories-container .categories .null-category {
    padding-top: 1em;

    .todos-wrapper {
        padding-left: 0;
    }
}
