@use 'mixins' as *;
@use 'fonts' as *;

.categories-container .todos-wrapper {
    user-select: none;

    ul {
        list-style: none;
        @include TextFont(20px);
        display: flex;
        flex-direction: column;

        li {
            $border_height: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            padding-block: $border_height * 3;

            display: flex;
            overflow: hidden;
            justify-content: space-between;
            align-items: center;

            gap: 0.5em;

            .select {
                flex-shrink: 0;
                @include f-center;
                @include box(24px);
                width: 0px;
                transition: width 70ms linear;
                --overlay: var(--other-color);

                &.show {
                    width: 24px;
                }
            }

            span {
                cursor: pointer;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .hexacheck {
                @include box(28px);
                flex-shrink: 0;
            }

            .toder-container {
                pointer-events: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: $border_height;

                .toder {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    left: -100%;
                    transition: left 400ms;
                    background-color: currentColor;
                }
            }
        }
    }
}
