@use 'mixins' as *;
@use 'fonts' as *;

.hexaput-container {
    $left: 0.7em;
    $border-height: 0.15em;

    overflow: hidden;
    @include box(100%, max-content);
    @include f-center;
    justify-content: flex-start;
    font: inherit;

    background-color: transparent;
    position: relative;
    padding-left: $left;

    .hexaput {
        width: 97%;
        background-color: transparent;
        pointer-events: all;
        border: 0;
        font: inherit;
        user-select: auto;
        padding-left: 0.2em;
        padding-block: calc(0.1em + $border-height);
        color: currentColor;
        outline: 0;
    }

    .hexaput-border {
        overflow: hidden;
        position: absolute;
        height: $border-height;
        pointer-events: none;

        span {
            position: absolute;
            display: block;
            width: 0%;
            height: 100%;
            background-color: currentColor;
            pointer-events: none;
            transition: width 300ms;
        }
        &.b1 {
            width: calc(100% - $left);
            left: $left;
            bottom: 0;
            span {
                transition-delay: 140ms;
            }
        }
        &.b2 {
            width: 1.4em;
            left: $left + 0.13em;
            bottom: 0.07em;
            transform: rotate(-120deg);
            transform-origin: left bottom;
            span {
                right: 0;
                transition-duration: 150ms;
            }
        }
    }

    &.active {
        .hexaput-border span {
            width: 100%;
        }
    }
}
