#__dialog__ .del-dia {
    position: absolute;
    inset: 0;
    // background-color: #f007;

    .close {
        position: absolute;
        z-index: -1;
        // z-index: 100;
        top: 0;
        right: 0;
        width: calc(var(--ratio) - 2px);
        height: calc(var(--ratio) - 2px);
        pointer-events: all;
        transform: translate(-100%, 100%);
        transition: transform 300ms ease, z-index 0ms 300ms;

        path {
            &.close-bg {
                cursor: pointer;
                pointer-events: fill;
                fill: var(--base-red);
                transform: scale(0.5);
                transform-origin: 70% 30%;
                transition: transform 300ms ease;
            }

            &.close-sign {
                stroke: #fff;
                stroke-width: 0.05;
                transform: scale(0.5);
                transform-origin: 70% 30%;
                transition: transform 300ms ease;
            }
        }

        &.active {
            transform: translate(0, 0);
            z-index: 2;

            path {
                transform: scale(1);
            }
        }

        path:active {
            transform: scale(0.85);
            + path {
                // transition-delay: 0ms !important;
                transform: scale(0.85);
            }
        }
        // height: 10%;
        // transform: rotate(45deg);
    }
}
