@use 'mixins' as *;
@use 'fonts' as *;

#__dialog__ {
    .hexabox {
        .content {
            @include TextFont(22px);
        }
    }

    .del-dia {
        position: absolute;
        inset: 0;

        .close {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            width: calc(var(--ratio) - 5px);
            height: calc(var(--ratio) - 5px);
            pointer-events: all;
            transform: translate(-100%, 100%);
            transition: transform 300ms ease, z-index 0ms 300ms;

            path {
                &.close-bg {
                    cursor: pointer;
                    pointer-events: fill;
                    fill: var(--base-red);
                    stroke: #fff;
                    transform-origin: 70% 30%;
                    transition: transform 300ms ease;
                    stroke-width: 0.045;

                    &:active {
                        transform: scale(0.85);
                    }
                }
            }

            &.active {
                transform: translate(0, 0);
                z-index: 2;
            }
        }
    }
}
