@use 'config';
@use 'mixins' as *;
@use 'theme/dark' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--accent-color);

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @include dark;
}

#root {
    @include box(100%);
    display: flex;
    flex-direction: column;
}

main {
    @include box(100%);
    display: flex;
}

// debug
line {
    // stroke: red;
    stroke-width: 0.01px;
}

// scroll bar
// ::-webkit-scrollbar {
//     width: 14px;
//     background: var(--primary-color);
// }

// ::-webkit-scrollbar-thumb {
//     background-color: config.$background_color;
//     border: 3px solid var(--primary-color);
//     cursor: pointer;
//     border-radius: 20px;
// }

// ::selection {
//     color: var(--primary-color);
//     background-color: #555;
// }
