@use 'mixins' as *;

.hexacheck {
    @include box(100%);

    svg {
        @include box(100%);

        * {
            pointer-events: none;
        }

        path {
            &.main {
                pointer-events: all;
                cursor: pointer;
                fill: transparent;
                stroke: var(--color, var(--other-color));
                stroke-width: 0.6;
            }

            &.barely {
                fill: var(--color, var(--other-color));

                transform: scale(0);
                transform-origin: center;
                transition: transform 300ms cubic-bezier(0, 0, 0.9, 0.1);

                &.active {
                    transform: scale(1);
                }
            }
        }

        line {
            stroke: var(--tick-color, var(--accent-color));
            stroke-width: 2;
        }
    }
}
